---
---

<footer>
    <div class="copyright">
        &copy; 2026. All rights reserved.
    </div>
    <div class="social-icons">
        <a href="https://www.facebook.com/logienz/" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/fb.webp" alt="Facebook page for Logie Web Services" class="social-icon" />
        </a>
    </div>
    <div class="footer-links">
        <a href="/privacy.html">Privacy</a>
    </div>
</footer>
